<!-- NAVIGATION -->
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid navbar-containerfluid">
      <a class="navbar-brand" href="/root/home/html/home.html" title="home-page">
        <img src="/root/common/img/Logo-rond-robin.png" alt="Logo" height="60" />
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" data-i18n="nav-home" href="/root/home/html/home.html" title="home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-i18n="nav-about" href="/root/about/html/about.html" title="about me">about</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="language chooser dropdown">
              portfolio
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="nav-link" href="/root/portfolio/html/portfolio.html" title="portfolio">portfolio</a>
              </li>
              <li>
                <a class="nav-link" href="/root/portfolio/portret/html/portret.html" title="portret" data-i18n="nav-portret">portret</a>
              </li>
              <li>
                <a class="nav-link" href="/root/portfolio/family/html/family.html" title="family" data-i18n="nav-family">family</a>
              </li>
              <li>
                <a class="nav-link" href="/root/portfolio/wedding/html/wedding.html" title="wedding" data-i18n="nav-wedding">wedding</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-i18n="nav-prices" href="/root//prices/html/prices.html" title="prices">prijzen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/root/blog/html/blog.html" title="blog">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/root/contact/html/contact.html" title="contact">contact</a>
          </li>
          <li class="nav-item">
            <span class="nav-link p-0 language-switcher">
              <a href="#" class="lang-option" id="nl-language" onclick="setLanguage('nl'); return false;">nl</a>
              <span class="lang-separator">|</span>
              <a href="#" class="lang-option" id="en-language" onclick="setLanguage('en'); return false;">en</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>