/* 
* CONDITIONS PAGE-SPECIFIC CSS STYLES
*/

.conditions-title {
  font-style: italic;
  font-size: 28px;
  font-weight: 300;
  margin: 20px auto 60px auto;
  text-align: center;
}

.conditions-body-text {
  font-size: 16px;
  font-weight: 300;
  margin: 20px auto 100px auto;
  text-align: center;
  max-width: 800px;
  width: 100%;
  line-height: 1.8;
}
